@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-italic.eot');
    src: url('../fonts/lato-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-italic.woff2') format('woff2'),
         url('../fonts/lato-italic.woff') format('woff'),
         url('../fonts/lato-italic.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff'),
         url('../fonts/lato-regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font: 400 16px/1.25 Lato, Arial, Tahoma, sans-serif;
	color: #848789;
}
ul{
	list-style: none;

}
a{
	text-decoration: none;
	color: #ff0000;
}
img{
	max-width: 100%;
	height: auto;

}
.wrapper{
overflow: hidden;
position: relative;
}
.clearfix:after{
content: '';
display: block;
clear: both;
}
/*Вот это стили по умолчанию*/
.container{
	display: block;
	max-width: 1630px;
	padding: 0 15px;
	margin: 0 auto;
}
.header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100%;
	padding: 35px 0px;
}
.header .container{
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-slider{
	text-align: center;
}
header .logo{
	margin: 0 32px;
	flex-shrink: 0;
	flex-basis: 94px;
}
header ul{
	display: flex;
	align-items: center;
	flex-wrap: 	wrap;
	width: calc(50% - 47px);
}
header li a{
	font-size: 13px;
	color: #4d4959;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
	display: block;
	line-height: 1.2;
	padding: 5px 32px;
	
}
header .left-menu{
	justify-content: flex-end;
}
header li{
	position: relative;
}
header li:not(:last-child):after{
	content: "";
	position: absolute;
	width: 2px;
	height: 2px;
	background: #4d4959;
	right: -1px;
	bottom: 7px;
}
h2{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 31px 0px 26px;
	color: #353738;			
}
.first-block h2{
padding: 35px 0px;	
}
.main-slider{
	margin-bottom: -4px;	
}
.one-block{
	padding: 117px 264px 117px 227px;
	text-align: center;
	background: #f7f7f7;
}
.text-one-block{
	color: #848789;
	line-height: 34px;
}

.text{
	font-size: 16px;	
	color: #848789;
	line-height: 30px;	
}
.second-block{
	display: flex;	
	flex-wrap: wrap;
}
.small-block{
	text-align: center;
}
.small-block .text{
	text-align: justify;	
}
.col-66{
	max-width: 66.666%;	
}
.col-33{
	max-width: 33.333%;	
}
.two-block .container{
	padding: 0 !important;	
}
.icon-text{
	margin-left: 70px;	
	margin-right: 70px;
	flex-grow: 1;
}
.small-block{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}
.icon-text{
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.logo-img-1{
	position: absolute;
	width: 113px;
	top: 40%;
	left: 40%;
}
.big-image-1{
	position: relative;
}
.line{
	width: 50px;
	height: 1px;
	background-color: #353738;
	position: absolute;
	top: 90%;
	left: 45%
}